* {
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
}

body {
  color: #f4fffe;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background: url('/images/sky.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2 {
  text-align: center;
}

#description {
  width: 50%;
  float: left;
}

#jerrud-headshot {
  float: left;
  width: 260px;
  height: 300px;
  left: 50%;
  margin-top: 100px;
  transform: translateX(-50%);
  border-radius: 50%;
}
