* {
  box-sizing: border-box;
  margin: 20px;
  padding: 0;
}

body {
  color: #f4fffe;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background: url('aperture-vintage-313010.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2 {
  text-align: center;
}
